/* navbar styling  -----------starts */

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-bar-menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
    color: #484848;
}

.nav-bar-logo h1 {
    color: #4096ff;
    font-weight: 500;
}

/* navbar styling    -----------ends */

/* searchbar styling ---------starts */

.search-bar-div {
    display: grid;
    background-color: #f1f4f8;
    padding: 3rem;
    border-radius: 10px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1.25rem;
    gap: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    /* box-shadow: 0 4px 6px -1px rgba(241, 244, 248, 0.7), 0 2px 4px -1px rgba(241, 244, 248, 0.06); */
}

.search-bar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.search-bar-input {
    width: 100%;
}

.search-bar-button button {
    color: white;
    background-color: #2a68ff; 
    height: 100%;
    padding: 1.1rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem; 
    border-radius: 10px;
    cursor: pointer;
}

.search-bar-button :hover {
    background-color: #4096ff;
    color: white !important;
    cursor: pointer !important;
}

.search-bar-secDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 20px;
}

.search-bar-single-search {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.search-bar-label {
    font-weight: 500;
    color: #808080;
    align-items: center;
}

.search-bar-select {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: white;
    color: #a5a6a6;
    border-color: #a5a6a6;
}

.search-bar-clearall {
    cursor: pointer;
    color: #a1a1a1;
    font-size: 14px;
}
/* searchbar styling ---------ends */


/* jobcard styling -----------starts */


.job-container {
    padding : 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.job-items {
    width: 250px !important;
    display: flex;
    flex-direction: column;
    background: white;
    color: #252b36;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.job-items:hover {
    background: #2a68ff;
    color: white !important;
}

.job-container-span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap : 10px;
}

.job-container-heading {
    font-weight: 700;
    font-size: 16px;
}

.job-container-subheading {
    font-size: 13px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: #ccc;
    align-items: center;
    justify-content: center;
}

.job-container-location {
    color: #ccc;
    font-size: 13px;
}

.job-container-content {
    color: #959595;
    font-size: 13px;
    padding-top: 20px;
    margin-top: 15px;
    border-top: 2px solid #959595;
}

.job-items:hover {
    .job-container-content {
        color: white;
    }
}

.job-container-company-name {
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px 0px
}

.job-container-button {
    border-radius: 10px;
    padding: 6px;
    border: 1px solid #808080;
    margin: 2px;

}

/* jobcard styling ----------ends */


/* footer styling ----------starts */

.footer-main {
    padding: 5rem;
    margin-bottom: 1rem;
    background: #2a68ff;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 8px;
    justify-items: center;
}

.footer-logo-text {
    font-size: 25px;
    padding-bottom: 1.5rem;
    color: white;
}

.footer-logo-subtext{
    font-size: 13px;
    opacity: 0.75;
    color: white;
}

.footer-grid {
    font-size: 18px;
    padding-bottom: 1.5rem;
    color: white;
    font-weight: 400;
}

.footer-grid-list {
    margin-top: 20px;
}


.footer-grid-list-section {
    color: white;
    opacity: 0.75;
}

.footer-contact {
    margin-top: 20px;
}
.footer-contactinfo {
    color: white;
    font-size: 14px;
    /* margin-top: 20px; */
}

/* .footer-grid-list-section :hover{
    opacity: 1 !important;
    background: none;
    color: #484848 !important;
} */
/* footer styling -----------ends */